<<<<<<< HEAD
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - 0P3NR1C3</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="login-dark">
        <form action="/login" method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group"><input class="form-control" type="text" name="name" placeholder="User Name"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" formaction="login">Log In</button><button class="btn btn-primary btn-block" type="submit" formaction="register">Register</button></div>
        </form>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
=======
<html>
<head>
	<title>Op3n R1c3!</title>
</head>
<body>
	<h1>0p3n R1c3!</h1>
	<h2>Login</h2>
	<!-- <ol>
		<li>demo (no password)</li>
		<li>student (no password)</li>
	</ol> -->
	<hr>
	<form action="/login" method="post">
		Username: <input type="text" name="name"><br>
		Password: <input type="password" name="password"><br>
		<br>
		<p><%= loginMessage %></p>
		<input type="submit" formaction="login" value="Login">
		<input type="submit" formaction="register" value="Register">
	</form>
>>>>>>> aef744e268f4aede9bfd5317208a3fd19b197f2b
</body>

</html>