<html>
<head>
	<title>Op3n R1c3!</title>
</head>
<body>
	<h1>0p3n R1c3!</h1>
	<h2>Login</h2>
	<!-- <ol>
		<li>demo (no password)</li>
		<li>student (no password)</li>
	</ol> -->
	<hr>
	<form action="/login" method="post">
		Username: <input type="text" name="name"><br>
		Password: <input type="password" name="password"><br>
		<br>
		<p><%= loginMessage %></p>
		<input type="submit" formaction="login" value="Login">
		<input type="submit" formaction="register" value="Register">
	</form>
</body>

</html>