<<<<<<< HEAD
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Redirect - 0P3NR1C3</title>
    <script>setTimeout(function () { window.location = '/'; }, 2000)</script>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
</head>

<body style="padding-top: 90px;padding-left: 30px;">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand" href="/">0P3NR1C3</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Log OUT</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <p><%= message %></p>
    <p>Redirecting to index</p>
    <p>If the browser is not redirecting, please click <a href='/'>here</a></p>
    <footer class="py-5 bg-black" style="bottom:0;position: absoloute;width:100%">
        <div class="container">
            <p class="text-center text-white m-0 small">Copyright&nbsp;© Team Invalid 2020</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
=======
<html>

<head>
    <script>setTimeout(function () { window.location = '/'; }, 2000)</script>
</head>
<body>
    <p><%= message %></p>
    <p>Redirecting to index</p>
    <br>
    <p>If the browser is not redirecting, please click <a href='/'>here</a></p>
>>>>>>> aef744e268f4aede9bfd5317208a3fd19b197f2b
</body>

</html>