<html>

<head>
    <script>setTimeout(function () { window.location = '/'; }, 2000)</script>
</head>
<body>
    <p><%= message %></p>
    <p>Redirecting to index</p>
    <br>
    <p>If the browser is not redirecting, please click <a href='/'>here</a></p>
</body>

</html>